body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero,
.cta {
    padding: 16px 128px 0 128px;
}

.header-logo,
.hero-title {
    color: #F9FAF8;
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
}

.hero-title {
    font-size: 48px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px
}

.header a,
.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;

}

.header a {
    text-decoration: none;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 96px;
}

.hero-subtext {
    margin: 0;
    padding-bottom: 8px;
}

.sign-up-button {
    font-size: 16px;
    font-weight: 600;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.cta .sign-up-button {
    border: 2px solid #F9FAF8;
}

.cta .button-wrapper {
    flex-shrink: 0;
}

.info {
    text-align: center;
    color: #1F2937;
    background: #F9FAF8;
    padding-bottom: 96px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
}

.info-subtext {
    font-size: 18px;
}

.info-content {
    display: flex;
    gap: 56px;
    justify-content: center;
}

.info-item {
    width: 176px;
    text-align: center;
}

.info-image {
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 96px 224px;
}

.quote {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    gap: 16px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.quote-signature {
    font-weight: 900;
    text-align: right;
    margin: 0;
}

.cta {
    background: #F9FAF8;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cta-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 48px 0;
}

.cta-title,
.cta-subtext {
    color: #F9FAF8;
}

.cta-title,
.cta-subtext {
    margin: 0;
}

.cta-wrapper {
    min-width: 320px;
}

.footer {
    text-align: center;
    padding: 28px 0;
    margin: 0;
    color: #E5E7EB;
    font-size: 16px;
}